body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    margin-top: 50px;
}

input {
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
}

.cartela {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.numero {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin: 5px;
    background-color: #e0e0e0;
    color: #000;
    font-weight: bold;
    cursor: pointer;
}

.numero.preenchido {
    display: none;
}
